.env
data/*
!data/runtime_config.json
!data/city_buy_earliest_hour.json

venv/
__pycache__/
*.pyc
state.json
logs/
.cursorignore
/node_modules
/dist
/build
/venv
/ui/node_modules
/ui/dist
/ui/build
/ui/venv
.idea
.cursor/*
.cursor/rules/*