.env
venv/
__pycache__/
*.pyc
state.json
logs/
.cursorignore
/node_modules
/dist
/build
/venv
/ui/node_modules
/ui/dist
/ui/build
/ui/venv
/ui/node_modules
/ui/dist
/ui/build
/ui/venv
.idea
.cursor/*
.cursor/rules/*
/data/*