.env
data/

venv/
__pycache__/
*.pyc
state.json
logs/
.cursorignore
/node_modules
/dist
/build
/venv
/ui/node_modules
/ui/dist
/ui/build
/ui/venv
/ui/node_modules
/ui/dist
/ui/build
/ui/venv
.idea
.cursor/*
.cursor/rules/*
/data/*
/data
/date/trade_log_*.csv
/data/price_samples/*
/data/price_samples
/data/trade_log_2026-04-11.csv
/data/*csv
/data/*
*data/
data